<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title th:text="${title}"/>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}"></h1>

    <p>Данный ресурс предназначен для изучения иероглифов японского языка при помощи карточек: одна сторона показывает сам иероглиф, другая - его перевод и написание при помощи одной и слоговых азбук</p>
    <img src="https://anashina.com/wp-content/uploads/2017/06/yaponia-1400x600.jpg"><br/>
    <img src="https://lh3.googleusercontent.com/proxy/8V8f-XAN-SdN8Q44zjQtoQ7T6YnUvFvIV7olguRZtX5ktqaSF-vZ-1L6JVYbxCdNu6GTYRYnf5cYBJs_-GBDvO0BKFvj5-9c-AE7DGBSWMsgurmXvTXsOoqsPTHos21feTPenVH0o2XbXwpAoxyGL2XZRdD03i47UEBhIRVGBMLowySzyDCMrN1OAIspk31P-0FOMHHIsl47-_IBjChHx3EkSlyqdpanWa0AGS2c_9RXLxmeq1YufZDOoalieyTGRV_mSpVELl8nKevV0FN_DqlF">
</div>

<footer th:insert="blocks/footer :: footer"></footer>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
