<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Редактирование</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование карточки</h1>
    <div th:each="el : ${card}">
    <form method="post">
        <input type="text" th:value="${el.appearance}" name="appearance" placeholder="Введите иероглиф" class="form-control"><br>
        <input type="text" th:value="${el.radical}" name="radical" placeholder="Введите на 1 слоговой азбуке с указанием используемой" class="form-control"><br>
        <input type="text" th:value="${el.translation}" name="translation" placeholder="Введите перевод" class="form-control"><br>
        <button type="submit" class="btn btn-success">Обновить карточку</button>
    </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>




<!----></body>
</html>