<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Карточки</title>
</head>
<body>


<div class="container mt-5">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 col">
        <div th:each="el : ${card}" class="card-body mb-3 text-center">
       

        </div>

        <div th:each="el : ${card}" class="card-body mb-3 text-center">
            <h1 th:text="${el.radical}" class="text-center"/>
            <h2 th:text="${el.translation}" class="text-center"/>
            <a href="/cards" class="mb-3">вернуться</a><br/>


            <a th:href="'/cards/' + ${el.id} + '/edit'" class="btn btn-warning mb-3">Редактировать карточку</a>
            <form th:action="'/cards/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>

        </div>

        <div th:each="el : ${card}" class="card-body mb-3 text-center">


        </div>

    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>




<!----></body>
</html>