<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Карточки</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 class="text-center mb-4">Карточки</h1>
     <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 col">
        <div th:each="el : ${cards}" class="card mb-3">
       <!-- сделать отображение только иероглифа, через ссылку переход на карту.-->
        <h1 th:text="${el.appearance}" class="text-center"/>
        <a th:href="'/cards/' + ${el.id}" class="text-center">обратная сторона</a>

        </div>
     </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>




<!----></body>
</html>
