<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title th:text="${title}"/>
</head>
<body class="text-center" >

<h1 class="text-center mt-5 mb-5">Зарегистрироваться</h1>
<form th:action="@{/signing}" method="post" class="form-signin">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div> <button class="btn btn-lg btn-primary btn-dark" type="submit">Sign up</button></div>
    <a href="/login">у меня есть аккаунт!!</a>
</form>

<!----></body>
</html>