<div th:fragment="footer">
    <footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted text-center">© Енукашвили Давид</small>
    </footer>
</div>