<div th:fragment="header">
    <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/profile">
            <img src="https://tattoo-masters.com/uploads/content/untitled-1.203.jpg" width="45px">
        </a>
        <a class="py-2 d-none d-md-inline-block mt-3" href="/about">About us</a>
        <a class="py-2 d-none d-md-inline-block mt-3" href="/cards">Cards</a>
        <a class="py-2 d-none d-md-inline-block mt-3" href="/cards/add">Add card</a>
    </div>
    </nav>
</div>